body{
    background-color: blueviolet;
}

.todo{
    background-color: black;
    color: white;
    width: max-content;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
    margin: 200px 650px;
}

.todo div{
    padding: 20px 10px;
}
p{
    background-color: rgb(33, 31, 31);
    width: max-content;
    color: whitesmoke;
    padding: 5px 10px;
    position: absolute;
    margin-left: 680px;
    margin-top: -10px;
    border-radius: 10px;
}

input:checked + label{
    text-decoration: line-through;
}